fastapi
fastapi[standard]
langchain
langchain_community
langchain_core
langchain_groq
langgraph
uvicorn
pydantic
psycopg2-binary
python-dotenv
typing_extensions
langchain_mistralai
SpeechRecognition
pyttsx3
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gtts
